$font-type: 'open sans';
$font-color-white: #ffffff;
$bg-color:#1D2235;
$author-font-size: 60px;
$author-font-weight: 1200px;
$heading-font-size: 30px;
$page-title_font-size:24px;
$heading-font-weight: 400;
$normal-font-size: 18px;
$normal-font-weight:400;
$mobile-heading-font-size:36px;
$select-color: #FEC119;
$mobile-page-title-font-size:14px;
$mobile-normal-font-size:12px;
*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'open sans';
}
section
{
    position: relative;
    height:100vh;
    float:left;
    width:100%;
}
.home
{
    display:grid;
    height:100vh;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    margin-top: 80px;
    grid-template-areas: "leftp rightp";
    .leftp
    {
        grid-area: leftp;
        color:white;
        //text-align: center;
        .names
        {
            margin-top: 150px;
            margin-left:20px;
            h1
            {
                font-size: $author-font-size;
                font-weight: bold;
            }
            h3
            {
                font-size: $heading-font-size;
            }
        }
        .social
        {
           margin-left: 20px;
           outline:none;
        }
    }
    .rightp
    {   
        grid-area:rightp;
        color:white;
        img
        {
            height:460px;
        }
    }
}
.portfolio
{
    margin-top: 70px;
}
.line
{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-content: center;
    hr
    {
        background-color: $font-color-white;
        width:500px;
        margin-left: 20px;
        height: 3px;
        border-radius: 5px;
    }
    p
    {
        color:$font-color-white;
        font-size: $page-title_font-size;
    }
}

.projects
{
    display:flex;
    flex-direction: column;
    row-gap: 30px;
    .pro1
    {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        justify-content: center;
        a img
        {
            height: 200px;
        }
        .desc
        {
            margin-top:50px;
            h2
            {
                color:$select-color;
            }
            p
            {
                display:block;
                height:100px;
                width:400px;
                font-size: 12px;
                color: $font-color-white;
            }
        }
    }
    
}
.about
{
    margin-top: 70px;
    .author
    {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        img
        {
            height: 300px;
            width:300px;
        }
        h3
        {
            color: $font-color-white;
            font-size: $heading-font-size;
            font-weight: bold;
        }
        p
        {
            color: $font-color-white;
            display: block;
            height:200px;
            width:800px;
        }
    }
}
.btns
{
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: -100px;
    a
    {
        color: $font-color-white;
        text-decoration: none;
        background-color: $select-color;
        font-weight: bold;
        display: block;
        height:50px;
        width:170px;
        text-align: center;
        padding: 12px;
        filter: drop-shadow(1px 1px 3px black);
    &:active
    {
        transform: translateY(1px);
    }
    &:hover
    {
        background-color: orange;
    }
    }
}
@media only screen and (max-width:768px)
{
    .body
    {
        font-family: 'open size';
    }
    .section
    {
        height:100vh;
    }
    .home
    {
        display: grid;
        height: 85vh;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "leftp" 
        "rightp";
        .leftp
        {
            grid-area: leftp;
            //height: 25vh;
            width:100%;
            .names
            {
                margin-top: 10px;
                //margin-left:20px;
                text-align: center;
                align-items: center;
                justify-content: center;
                h1
                {
                    font-size: $mobile-heading-font-size;
                    font-weight: bold;
                }
                h3
                {
                    font-size:24px;
                }
                p
                {
                    font-size: 12px;
                    display: block;
                    margin: 0 auto;
                    height:50px;
                    width:200px;
                }
            }
        .social
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            a img
            {
                height: 24px;
                width:24px;
            }
        }
        }
        .rightp
        {
            grid-area:rightp;
           // height: 25vh;
           img
            {
                display: block;
                margin: 0 auto;
                height: 230px;
            }
        }
    }

        .line
        {
            
            hr
            {
                background-color: $font-color-white;
                width:50px;
                margin-left: 20px;
                height: 2px;
                border-radius: 5px;
            }
            p
            {
                color:$font-color-white;
                font-size: $mobile-page-title-font-size;
                padding-top: 5px;
            }  
        }

    .projects
    {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
        align-items: center;
        .pro1
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a img
            {
                height:150px;
            }
            .desc
            {
                position: absolute;
                margin-top: 200px;
                h2
                {
                    font-size: $mobile-normal-font-size;
                }
                p
                {
                    position: absolute;
                    display:block;
                    height:50px;
                    width:100px;
                    visibility: hidden;
                }
            }
        }
    }
    .about
    {
    .author
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        img
        {
            height: 150px;
            width:150px;
        }
        .auinfo
        {
            h3
            {
                font-size: 24px;
                text-align: center;
            }
            p
            {
                display:block;
                height:110px;
                width:300px;
                font-size: $mobile-normal-font-size;
                text-align: center;
                margin: 0 auto;
            }
            .btns
            {
                display: flex;
                flex-direction: row;
                column-gap: 20px;
                margin-top:50px;
                align-items: center;
                justify-content: center;
               a
               {
                   font-size: $mobile-normal-font-size;
                color: $font-color-white;
                text-decoration: none;
                background-color: $select-color;
                font-weight: bold;
                display: block;
                height:30px;
                width:120px;
                text-align: center;
                padding-bottom: 30px;
               }
            }
        }
    }
}
}
@media screen and (orientation:landscape) and (max-device-width:546px)
{
        .rightp
        {
            margin-top:80px;
            grid-area:rightp;
           // height: 25vh;
           img
            {
                display: block;
                margin: 0 auto;
                height: 230px;
            }
        }
        .portfolio
        {
            margin-top: 250px;
        }
            .line
            {
            hr
            {
                background-color: $font-color-white;
                width:150px;
                margin-left: 20px;
                height: 2px;
                border-radius: 5px;
            }
            p
            {
                color:$font-color-white;
                font-size: $mobile-page-title-font-size;
                padding-top: 5px;
            }  
            }
        .about
        {
            margin-top: 400px;
            padding-bottom: 100px;
        }
        
}