$font-type: 'open sans';
$font-color-white: #ffffff;
$bg-color:#1D2235;
$author-font-size: 72px;
$author-font-weight: 1200px;
$heading-font-size: 36px;
$page-title_font-size:24px;
$heading-font-weight: 400;
$normal-font-size: 18px;
$normal-font-weight:400;
$mobile-heading-font-size:36px;
$select-color: #FEC119;
$mobile-page-title_font-size:18px;
body{
    margin: 0;
    font-family: 'open sans';
    background-color: $bg-color;
}
a
{
    color: $font-color-white;
}
/*Header*/
header
{
    background-color:$bg-color;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width:100%;
    z-index:3;
    ul
    {
        list-style: none;
        overflow: hidden;
        background-color: $bg-color;
        margin:0;
        padding:0;
    }
    li a
    {
        display:block;
        padding:20px 20px;
        text-decoration: none;
        //border-right: 1px solid #f4f4f4;
        &:hover
        {
            text-decoration: none;
            color: $select-color
        }
    }
    .logo
    {
        display:block;
        float:left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }
    .menu
    {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    .menu-icon
    {
        cursor: pointer;
        display:inline-block;
        float:right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        .navicon
        {
            background: $select-color;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px
        }
    }

}
.header .menu-btn:hover
{
    text-decoration: none;
    background-color: $select-color;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background:$select-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 48em) {
    .header li {
        float: left;
      //text-align: center;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
     // text-align: center;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    
}
